.btn_container{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px gray;
    margin-right: 20px;
    background-color: rgb(107, 129, 148);
    cursor: pointer;
    position: relative;
}
.btn_container > img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.mask{
    position: absolute;
    background: pink;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}